@import "partials/base";

body {
  padding: 10px;
  background: $white;
}

.bold {
  font-weight: bolder;
}

.header {
  font-family: "Sniglet";
  font-size: 70px;
}

p {
  font-family: "Nixie One";
}

.name {
  font-family: "Sniglet";
  font-weight:100;
  font-size: 75px;
  color: $grey;
  display: flex;
  justify-content: center;
}

nav {
  font-family: "Nixie One";
  font-weight: 100;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid black;
}

a {
  color: $grey;
  text-decoration: none;
  // border: 1px solid black;

  &:hover {
    color: $blue;
  }
}

.main {
  // border: 1px solid black;
  height: 800px;;
  width: 96.5vw;
}
