<div class="separate"></div>  <div class="separate2"></div>

<p class="header contact">Contact</p>

<div class="social-media">
  <a href="mailto:cassandra.culkins@gmail.com"><img class="gmail" src="assets/images/Gmail.svg" alt="gmail icon" /></a>
  <a href="http://www.linkedin.com/in/cassandraculkins"><img class="linkedin" src="assets/images/LinkedIn.svg" alt="linkedin icon" /></a>
  <a href="http://www.dribbble.com/cculkins"><img class="dribbble" src="assets/images/Dribbble.svg" alt="dribbble icon" /></a>
  <a href="http://www.behance.com/cassandrac9472"><img class="behance" src="assets/images/Behance.svg" alt="behance icon" /></a>
</div>
