  <div class="separate"></div>  <div class="separate2"></div>
  <p class="header design">Design</p>
  <img class="Page1" src="assets/images/Page1.png" alt="Tenrec tear sheet page 1" />
  <img class="Page2" src="assets/images/Page2.png" alt="Tenrec tear sheet page 2" />
