  <div class="separate"></div>  <div class="separate2"></div>
<p class="header illustrations">Illustrations</p>
  <img class="trophy-case" src="assets/images/TrophyCase.svg" alt="" />
  <img class="trophy1" src="assets/images/Trophy1.svg" alt="" />
  <img class="moon" src="assets/images/TeaWithTheMoon.svg" alt="" />
