<h1>THIS IS THE HOME PAGE.</h1>
{{#link-to 'contact'}}Click here to contact me.{{/link-to}}
{{#link-to 'about'}}Click here to learn about me.{{/link-to}}


<ul>
  {{#each model as |project|}}
    <li><strong>{{project.title}}</strong></li>
    <li><img src={{project.image}} alt="cat image"/></li>
    <li><em>{{project.description}}</em></li>
  {{/each}}
</ul>
