<!-- <h1>THIS IS THE HOME PAGE.</h1>

 -->

<!-- <ul>
  {{#each model as |project|}}
    {{project-tile project=project}}
  {{/each}}
</ul> -->


<div class="main">
  <div class="separate"></div>  <div class="separate2"></div>

  <div class="title">
    <p class="name first">CASSY</p>
    <img class="skull" src="assets/images/SkullBow.svg" alt="" />
    <p class="name last">MARIE</p>
  </div>

  <div class="annoyingdiv">
    <div class="bio-box">
      <p>Front-end developer &amp; Digital Illustrator: Skilled in CSS, Sass, HTML, JavaScript, Ember.js, InVision prototyping, Sketch App, Adobe Photoshop, GitHub, Git version control, Teamwork, Friendliness, General Dopeness, &amp; appreciation for spooky things.</p>
    </div>
  </div>
</div>

<footer>


</footer>
