<h1>THIS IS THE HOME PAGE.</h1>



<ul>
  {{#each model as |project|}}
    {{project-tile project=project}}
  {{/each}}
</ul>

<div class="header">
  {{#link-to 'contact'}}Contact{{/link-to}}
  <!-- {{#link-to 'about'}}About{{/link-to}} -->
  {{#link-to 'illustrations'}}Illustration{{/link-to}}
  {{#link-to 'design'}}Design{{/link-to}}
  {{#link-to 'finished'}}Projects{{/link-to}}
</div>
<div class="main">

</div>
<div class="footer">

</div>
