<!-- <h1>THIS IS THE HOME PAGE.</h1>

 -->

<!-- <ul>
  {{#each model as |project|}}
    {{project-tile project=project}}
  {{/each}}
</ul> -->


<div class="main">
  <div class="title">
    <p class="name first">CASSY</p>
    <img class="skull" src="assets/images/SkullBow.svg" alt="" />
    <p class="name last">MARIE</p>
  </div>
</div>

<footer>


</footer>
