<!-- <h1>THIS IS THE HOME PAGE.</h1>

 -->

<!-- <ul>
  {{#each model as |project|}}
    {{project-tile project=project}}
  {{/each}}
</ul> -->


<div class="main">
  <p class=name>Cassandra Culkins</p>
</div>

<footer>
  <img src="moon.png" alt="" />

</footer>
