<h1>THIS IS THE HOME PAGE.</h1>
{{#link-to 'contact'}}Click here to contact me.{{/link-to}}
{{#link-to 'about'}}Click here to learn about me.{{/link-to}}


<ul>
  {{#each model as |project|}}
    {{project-tile project=project}}
  {{/each}}
</ul>
